/*This is the CSS page for our final template.*/

body {
	margin: 20px;
}


.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #414535;
	text-align: center;
	color:#F2E3BC;
	font-size: 20px;
	margin-bottom: 0;
	font-family: "Lora", serif;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


p {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 16px;
	color: #414535;
}

.header {
	height: auto;
	font-weight: 400;
	text-align: center;
	font-family: "Lora;", serif;
	color: #F2E3BC;
	background-color: #414535;
	padding: 5px;
}

h2 {
	text-shadow: #26281f 5px 5px;
	font-family: "Lora", serif;
	font-weight: 400;
	font-size: 70px;
}

h4 {
	font-family: "Lora", serif;
	font-style: italic;
	font-size: 40px;

}
h3 {
	font-size: 40px;
	font-family: "Lora", serif;
	color: #414535;
	font-weight: 700;
}

img {
	border: 10px solid #F2E3BC;
	outline: 2px solid #414535;

}

 figure {
  display: flex;
  flex-flow: column;
  padding: 2px;
  max-width: 375px;
}

figcaption {
  color: #414535;
  font-size: 14px;
  font-weight: 700;
  font-family: "Lora", serif;
  font-style: italic;;
  padding: 3px;
}

.imageleft {
	float: inline-start;
}

.imageright {
	float: inline-end;
}

a {
	color: #70a83a;
}

iframe {
	margin-top: 20px;
}



/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 
 .footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: goldenrod;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

 .list {
 	float: none;
 	padding-left: 10px;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 	border: 2px solid darkgrey;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 	animation: "running";
 	font-family: "Lora", serif;
 }

 h2 {
 	font-size: 50px;
 }
 h4{
 	font-size: 25px;
 }
 img{
 	height: 150px;
 	width: 225px;
 }
 figure{
 	max-width: 230px;
 }
}
